.shop-cart {
    height: 146px;
    background: #F8F3F4;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 59px;
    }

    &__top h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $pink_color;
    }
}

.shop-cart__content {
    margin-top: 96px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.shop-cart_item {
    display: flex;
    width: 652px;
    height: 306px;
    margin-bottom: 40px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.16);
}

.item__desc {
    padding-left: 31px;

    .shop-cart__heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        width: 262px;
    }

    &-list {
        padding-top: 42px;
    }

    &-list li {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        margin-bottom: 6px;
    }

    &-list li input {
        width: 43px;
        height: 24px;
        text-align: center;
        border: 1px solid $dark-grey_color;
    }

    &-list span {
        color: $pink_color;
    }
}

.button__box {
    display: flex;
    width: 652px;
    justify-content: space-between;
    padding-top: 50px;
}

.shop-cart__button {
    padding: 17px 30px;
    border: 1px solid #A4A4A4;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.shipping__box {
    display: flex;
    flex-direction: column;
}

.h2-cart {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $dark-grey_color;
}

.shipping__box input {
    width: 340px;
    height: 45px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    padding: 0 17px;
    border: 1px solid #A4A4A4;
}

.shipping__button {
    margin-top: 25px;
}



.shipping__button a {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    padding: 11px 14px;
    border: 1px solid #A4A4A4;
}

.final-price {
    margin-top: 84px;
    width: 378px;
    height: 214px;
    background: #F5F3F3;
    text-align: center;
}

.final-price p {
    text-align: right;
}

.final-price__button {
    margin-top: 30px;
}

.final-price__link {
    color: $white_color;
    background-color: $pink_color;
    padding: 16px 42px;
    transition: 1s linear;
}

.final-price__link:hover {
    color: $pink_color;
    border: 1px solid $pink_color;
    background-color: $white_color;
}

.sub {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.grand {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 12px;
    margin-bottom: 10px;
}

.button_shadow:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #F5F3F3;
}

.sub,
.grand {
    padding-right: 34px;
}

.pink-text {
    color: $pink_color;
}

.final-price__content {
    padding-top: 39px;
}